{% extends 'gyms/base.html' %}

{% block body %}
    <h1>{{ gym.name }}</h1>
    <p>время работы - {{ gym.time_work }}   ({{ gym.adress }})</p>
    <ul>
        <h4>Тренера в зале:</h4>
        <ul>
        {% for trainer in gym.trainers.all %}
            <li><a href="{% url 'gyms:trainer_detail' trainer.id %}">{{ trainer.name }}</a></li>
            <h8>{{ trainer.year_old }} лет</h8>
            <p>время работы - {{ trainer.time_work }}</p>
        {% endfor %}
        </ul>
    </ul>
{% endblock %}