{% extends 'gyms/base.html' %}

{% block body %}
    <h1>{{ gym.name }}</h1>
    <p>время работы - {{ gym.time_work }}   ({{ gym.adress }})</p>
    <ul>
        <h4>Тренера в зале:</h4>
        <ul>
        {% for trainer in gym.trainers.all %}
            <li><a href="{% url 'gyms:trainer_detail' trainer.id %}">{{ trainer.name }}</a></li>
            <h8>{{ trainer.year_old }} лет</h8>
            <p>время работы - {{ trainer.time_work }}</p>
        {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            {% if cheack_element %}
            <h1>Забронировать абонемент</h1>
            <h3>Тренеры:</h3>
            <form action="{% url 'gyms:add_abonement' %}" method="post">
                {% csrf_token %}
            {% for trainer in gym.trainers.all %}
                <input type="radio" name="trainer_id" value="{{ trainer.id }}"
                    id="trainer_id-{{ forloop.counter }}"/>
                <label for="trainer_id-{{ forloop.counter }}">
                    {{ trainer.name }}
                </label><br>
            {% endfor %}
                <h3>Время:</h3>
                <input type="text" name="time" placeholder="Напишите время">
                <input type="submit" value="Добавить абонемент">
                <input type="hidden" name="gym_id" value="{{ gym.id }}">
                {% else %}
                    <h3>У вас уже имеется абонемент на этих тренеров</h3>
                    <form action="{% url 'gyms:delete_abonement' %}" method="post">
                        {%csrf_token%}
                    <input type='submit' value='Удалить абонемент'>
                    <input type='hidden' name='gym_id' value={{ gym.id }}>
                    </form>
                {% endif %}
        {% endif %}
        </ul>
{% endblock %}