{% extends 'gyms/base.html' %}

{% block body %}
        <h1 style="text-align:left;font-family:verdana;color:Purple">Личный кабинет пользователя</h1>
    <div class="row">
        <div class="col-sm-4" style="background-color:active;"><h4 style="font-family:verdana;color:Green";>Имя пользователя:{{user.username}}</h4>
        <div class="col-sm-3" style="background-color:active;"><h5 style="font-family:verdana;color:Blue";>Email:{{user.email}}</h5></div>
        <div class="col-sm-3" style="background-color:active;"><h5 style="font-family:verdana;color:Blue">Имя:{{user.first_name}}</h5></div>
        <div class="col-sm-2" style="background-color:active;"><h5 style="font-family:verdana;color:Blue">Фамилия:{{user.last_name}}</h5></div>
            <h1><a href="{% url 'gyms:edit_profile' user.id %}" class="btn btn-primary">Редактировать профиль</a></h1>
     </div>
    <ul>
            <h1>Абонементы:</h1>
        {% for info in abonement %}
            <h3>{{ info.profile.user.username }}</h3>
            <li>
                <p>{{ info.trainer.name }}</p>
            </li>
            <p>{{ info.time }}</p>
            <p>{{ info.gym }}</p>
        {% endfor %}
    </ul>
{% endblock %}