{% extends 'gyms/base.html' %}

{% block body %}
    <h1>{{ trainer.name }}</h1>
    <h>{{ trainer.year_old }} лет</h>
    <p>время работы - {{ trainer.time_work }}</p>
    <ul>
        <li>Место работы: Тренажерный зал
            <a href="{% url 'gyms:gym_detail' trainer.gym.id %}">
            "{{ trainer.gym.name }}"
            </a>
        </li>
        {% if user.is_authenticated %}
            <form action="{% url 'gyms:add_abonement' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="trainer_id" value="{{ trainer.id }}">
                <input type="submit" value="Добавить абонемент" class="btn btn-info"/>
            </form>
        {% endif %}
    </ul>
{% endblock %}